.form form {
	padding: 2rem 1.4rem;
	background-color: var(--color-dark--2);
}

.form label {
	font-size: 1rem;
	line-height: 2rem;
}

.form input,
.form textarea {
	font-size: 1.1rem;
	padding: 0.4rem 0.8rem;
	margin-bottom: 1rem;
}

.form input .bigger {
	height: 2rem;
}
