.stats {
	padding: 1.5rem 1.3rem;
	margin-top: 0.8rem;
	background-color: #343a3f;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}

.stats__data {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 700;
	margin-top: 0.8rem;
}
