.layout {
	position: relative;
	display: grid;
	grid-template-columns: minmax(550px, 1fr) minmax(350px, 2fr);
	padding: 0rem;
	overscroll-behavior-y: none;
}

.floating {
	position: relative;
}

.floatbutton {
	position: absolute;
	top: calc(100dvh - 7em);
	left: calc(62dvw);
	z-index: 401;
}
