.nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.logo {
	height: 3rem;
}

.nav a:global(.active) {
	color: --var(--color-brand--2);
}
