@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

.calendar {
	background: #ffffff;
	box-shadow: 0px 2.3128px 39.3176px rgba(0, 0, 0, 0.25);
	border-radius: 23.128px;
	width: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.calendar__date {
	width: 530px;
	display: flex;
	justify-content: space-between;
	padding-top: 1.3rem;
	padding-bottom: 0.4rem;
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	line-height: 35px;
}

.calendar__date button {
	background-color: transparent;
}

.calendar__days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 565px;
	padding: 1rem;
	font-size: 32px;
	font-weight: 700;
	line-height: 35px;
}

.calendar__numbers {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 15px;
	width: 550px;
	padding-bottom: 1rem;
	font-family: 'Roboto';
	font-size: 32px;
	line-height: 65px;
}

.today {
	background-color: #ffd200;
	border-radius: 50%;
	text-align: center;
	padding: 0.1rem;
}

.day--not-current-month {
	color: #ddd;
}
