@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

.calendar {
	background: var(--color-dark--2);
	box-shadow: 0px 2.3128px 39.3176px rgba(0, 0, 0, 0.25);
	border-radius: 23.128px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;
}

.calendar__date {
	display: flex;
	justify-content: space-between;
	padding-top: 1.3rem;
	padding-bottom: 0.4rem;
	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	line-height: 30px;
	width: 95%;
	color: var(--color-brand--1);
}

.calendar__date button {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.calendar__days {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	width: 98%;
	padding: 0.5rem 0.2rem;
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	gap: 10px;
}

.calendar__numbers {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 10px;
	row-gap: 12px;
	width: 95%;
	padding-bottom: 0.7rem;
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	text-align: center;
}

.today {
	background-color: var(--color-brand--1);
	/*border-radius: 50%;*/
}

.selected {
	background-color: var(--color-brand--2);
}

.day--not-current-month {
	color: var(--color-light--1);
}
