.box {
	display: flex;
	flex-direction: column;
	background-color: #2b3035;
	height: 85vh;
	min-height: 9vh;
	max-width: 30rem;
	width: 30rem;
	border-radius: 12px;
	overflow: scroll;
}

.box.extended {
	height: 85vh;
}

.box__header {
	align-self: flex-end;
	height: 4vh;
	margin-bottom: 0.3rem;
}

.box__header button {
	border-radius: 50%;
	padding: 0.8rem;
	background-color: #212529;
	color: white;
	font-weight: 700;
	font-size: 1.2rem;
	cursor: pointer;
	border: none;
	height: 2.2rem;
	width: 2.2rem;
	margin: 0.4rem 0.4rem 0.4rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .box__content {
	display: grid;
} */

.viewcontent {
	text-align: center;
	margin: 1rem auto;
}
