.primary {
	border-radius: 7px;
	background-color: var(--color-brand--2);
	color: var(--color-dark--2);
	padding: 0.3rem 0.9rem;
	outline: none;
	border: 0px;
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
}
