#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: sans-serif;
	color: #343a40;
}

h1 {
	font-size: 1.5rem;
	line-height: 1.1;
	margin: 0;
}

ul {
	list-style: none;
}

li {
	width: 780px;
	padding: 1rem;
}

.faq {
	box-shadow: 1px 1px 9px rgba(128, 128, 128, 0.26);
	margin-bottom: 2rem;
	padding: 1rem;
}

.faq.open {
	border-top: 3px solid green;
}

.faq__question {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.6rem;
}

li button {
	background: transparent;
	border: none;
	color: #343a40;
	font-weight: 700;
	font-size: 2rem;
}

li p {
	line-height: 1.7em;
	font-size: 1.2rem;
	margin-left: 3.88rem;
}

h1.open {
	color: green;
}

.number {
	color: #ced4da;
	margin-right: 2rem;
}

.number.open {
	color: green;
}
