:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 0.9rem;
	color: rgba(39, 37, 37, 0.87);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	--color-button-light: #ffa94d;
	--color-button-dark: #ff922b;
	--color-light: #ffe8c7;
	--color-lightest: #fff3e5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

form {
	font-size: 1.3rem;
	font-weight: 700;
	border-radius: 7px;
	display: grid;
	align-items: center;
	gap: 1.3rem;
	background-color: var(--color-lightest);
}

label {
	font-size: 1.1rem;
	font-weight: 500;
}

input,
select {
	border-radius: 4px;
	padding: 0.7rem;
	font-family: inherit;
	color: inherit;
	font-size: 1.1rem;
	border: 1px solid var(--color-light);
	text-align: center;
	transition: ease all 0.3s;
}

input:focus {
	outline: 0.6px solid var(--color-button-dark);
}

button {
	height: 32px;
	border-radius: 7px;
	background-color: var(--color-button-light);
	border: 1px solid transparent;
	padding: 0.6em 1rem;
	font-size: 0.9rem;
	font-weight: 700;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.5s;
}
button:hover {
	background-color: var(--color-button-dark);
}
